<?xml version="1.0" ?>
<!--
/**
 * Copyright © 2022 HP. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add action="orders/report_sales/revenuedetails" id="HP_Orders::revenue_details" module="HP_Orders" parent="Magento_Reports::report_salesroot" sortOrder="20" resource="Magento_Reports::tax" title="Revenue Details"/>
    </menu>
</config>
