<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 HP. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="orders" frontName="orders">
            <module name="HP_Orders"/>
        </route>
    </router>
</config>
